#soundmanager-debug { display: none !important;} /* comment this out to debug */
#soundmanager-debug-toggle { display: none !important;} /* comment this out to debug */

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Default theme
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.jmp3_container {
  background: #a2b4b9;
  float: left;
  clear: both;
  font: 10px/14px Arial, Helvetica, sans-serif;
  padding-right: 1px;
}
  .jmp3_container .jmp3_trackbar {
    width: 150px; height: 16px;
    margin: 0 5px;
    display: block;
    float: left;
    position: relative;
    background: url('../img/trackbar_notloaded.png') repeat-x left top;
    z-index: 0;
  }
    .jmp3_container .jmp3_trackbar .jmp3_loaded {
      width: 0; height: 16px;
      display: block;
      position: absolute;
      left: 0; top: 0;
      background: url('../img/trackbar_loaded.png') repeat-x left top;
      z-index: 1;
    }
    .jmp3_container .jmp3_trackbar .jmp3_playhead {
      width: 8px; height: 16px;
      display: block;
      position: absolute;
      left: 0; top: 0;
      background: url('../img/playhead.png') no-repeat left center;
      z-index: 2;
    }
  .jmp3_container .jmp3_play,
  .jmp3_container .jmp3_pause,
  .jmp3_container .jmp3_stop,
  .jmp3_container .jmp3_infos,
  .jmp3_container .jmp3_next,
  .jmp3_container .jmp3_prev 
  {
    width: 16px; height: 16px;
    display: block;
    float: left;
    text-indent: -9999px;
  }
  .jmp3_container .jmp3_play {
    background: url('../img/play.png') no-repeat left top;
  }
  .jmp3_container .jmp3_pause {
    background: url('../img/pause.png') no-repeat left top;
  }
  .jmp3_container .jmp3_stop {
    background: url('../img/stop.png') no-repeat left top;
  }
  .jmp3_container .jmp3_prev {
    background: url('../img/prev.png') no-repeat left top;
  }
  .jmp3_container .jmp3_next {
    background: url('../img/next.png') no-repeat left top;
  }
  .jmp3_container .jmp3_infos {
    background: url('../img/infos.png') no-repeat left top;
  }
  .jmp3_container .jmp3_timer {
    color: white;
    font-size: 11px;
  }
  .jmp3_container .jmp3_currentTrackDetails {
    background: #fff;
  }
